<div class="logins">
    <mat-form-field color="primary" appearance="outline">
      <mat-label>введите логин</mat-label>
      <input [(ngModel)]="autorization.login" matInput placeholder="Иван">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>введите пароль</mat-label>
      <input [(ngModel)]="autorization.password"  matInput placeholder="Иванов123">
    </mat-form-field>
    <button (click)="inputData()" mat-raised-button color="accent">вход</button>
</div>

